
body, html {
    margin: 0;
    font-family: Minimal;
    overflow-x: hidden;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
* {
    font-size: 100%;
 font-family: Minimal;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body {
    font: 1.8vw/3vw Minimal;
}
.wrapper {
    width: 90%;
    margin: 0 5%;
}
.header-container,
.footer-container,
.main aside {
    background-color: #7A7E81;
    background:rgba(0,0,0,0.3);
    position: fixed;
    width: 100%;
    height: border-box;
    top: 0px;
}
.title {
    color: white;
    font-size: 2em;
}
nav ul {
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: inline-block;
}
nav li{
    float: left;
}
nav a {
    display: block;
    margin-bottom: 10px;
    padding: 8px 3px;
    font-size: .75em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: transparent;
}
nav a:hover,
nav a:visited {
    color: white;
}
nav a:hover {
    text-decoration: underline;
}
.main {
    padding: 30px 0;
}
.main article h1 {
    font-size: 2em;
}
.main aside {
    color: white;
    padding: 0px 5% 10px;
}
.footer-container footer {
    color: white;
    padding: 20px 0;
}
.ie7 .title {
    padding-top: 20px;
}
.contactContainer{
    position: relative;
    text-align: center;
    color: black;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
@media only screen and (min-width: 480px) {
    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }
    nav li:first-child a {
        margin-left: 2;
    }
    nav li:last-child a {
        
        margin-right: 2;
    }
    nav ul li {
        padding-right: 10px;
        float: left;
        display: inline-block;
    }
    .oldie nav a {
        margin: 0 0.7%;
    }
}
@media only screen and (min-width: 768px) {
    .title {
        float: left;
    }
    nav {
        float: right;
        width: 38%;
    }
    .main article {
        float: left;
        width: 57%;
    }
    .main aside {
        float: right;
        width: 28%;
    }
    .right{
        
        float: right;
        width: 50%;
    }
    .left{
        
        float: left;
        width: 50%;
    }
    .socialize{
    	float: left;
    	width: 100%;
    }
}
.calendar{
    position: relative;
    height: 70px;
    width: 60px;
    top: 0px;
    right: 165px;
}
@media only screen and (min-width: 1140px) {
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}